/* сбрасываем старые стили*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input,button{
  border: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
}
/* теперь наши стили*/
label{
  display: block;   /* label вертикально */
  font-weight: bold;  /* полужирный */
  margin-bottom: 10px;  /* отступ снизу */
  margin-top: 10px;     /* отступ сверху */
}
input{
  border: 3px solid purple;
  border-radius: 10px;
  padding: 5px;
}
input:focus{
  background-color: cornflowerblue;
}
button{
  padding: 5px;
  border: 3px solid blue;
  border-radius: 10px;
  background-color: cornflowerblue;
  color: aliceblue;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
button:hover{
  background-color: aliceblue;
  color: cornflowerblue;
}

#ContactForm{
  border: 3px solid;
  border-radius: 10px;
  background-color: aliceblue;
  padding: 10px;
  max-width: 250px;
}

.error{
  border: 3px solid red;
  border-radius: 10px;
  background-color: lightcoral;
  color: aliceblue;
}
